<% layout('layouts/boilerplate.ejs') %>
<body>
    <div class="custom-blog-container">
        <% for(let user of users){ %>
            <a href="/byteblog/<%= user.id %>/show" class="custom-blog-link">
                <div class="custom-blog-card">
                    <div class="custom-blog-img">
                        <img src="<%= user.image %>" alt="blog-image">
                    </div>
                    <div class="custom-blog-content">
                        <i class="custom-username">@<%= user.username %></i>
                        <h3 class="custom-title"><%= user.subject %></h3>
                        <p class="custom-content"><%= user.content %></p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
